<%- layout('layout/boilerplate.ejs') %>
<form
  action="/list/edit/<%= data.id %>?_method=PUT"
  method="post"
  class="needs-validation"
  novalidate
>
  <p class="display-6 offset-3">Edit List !</p>
  <div class="row col-5 offset-3 gap-2">
    <input
      name="Listing[title]"
      class="form-control"
      type="text"
      value="<%= data.title %>"
      required
    />
    <textarea
      name="Listing[description]"
      class="form-control"
      id=""
      cols=""
      rows="1"
      placeholder="<%= data.description %>"
      required
    ></textarea>
    <input
      name="Listing[price]"
      class="form-control"
      type="number"
      value="<%= data.price %>"
      required
    />
    <input
      name="Listing[location]"
      class="form-control"
      type="text"
      value="<%= data.location %>"
      required
    />
    <input
      name="Listing[country]"
      class="form-control"
      type="text"
      value="<%= data.country %>"
      required
    />
    <button class="btn btn-sm btn-primary col-2" type="submit">Edit !</button>
  </div>
</form>
